<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

  <div class="row">
    <span class="col-md-7"></span>
    <span class="col-md-5"></span>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="container">
        <div class="panel panel-info">
          <div class="panel-heading">Choose where you have symptoms</div>
          <div class="panel-body">
            <img src={{img}} usemap="#image-map">
          </div>
        </div>
      </div>
      <!--<img src={{img}} usemap="#image-map">-->
    </div>
    <div class="col-md-5">
      <div class="container2">
        <div class="panel panel-info">
          <div class="panel-heading">Your select</div>
          <div class="panel-body">
            <div class="row" *ngFor="let part of bodypart">
              <div class="col-md-4">
                <li class="bullet">{{part}}</li>
                <!--<a  style="color:red" class="delete" (click)="delete(part)">delete</a>-->
              </div>
              <div class="col-md-8">
                <!--<button type="button" class="btn btn-outline-info" (click)="delete(part)">x</button>-->
                <a style="color:red" class="delete" (click)="delete(part)">delete</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-danger" (click)="cancle()">cancle</button>
              </div>
              <div class="col-md-8">
                <button type="button" class="btn btn-success" (click)="ok()">ok</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--<button type="button" class="backButton" (click)="setfalse()" *ngIf="!mainbody">back</button>-->
  <button type="button" class="btn btn-info" (click)="setfalse()" *ngIf="!mainbody">Back</button>
</body>
<map name="image-map" *ngIf="headpoint">
  <area target="" alt="head" title="head" coords="30,10,170,70" shape="rect" (mouseenter)="head2($event)" (mouseleave)="head2($event)" (click)="clickhead2('head')">
  <area target="" alt="earL" title="earL" coords="10,80,50,150" shape="rect" (mouseenter)="ear($event)" (mouseleave)="ear($event)"(click)="clickhead2('ear')">
  <area target="" alt="earR" title="earR" coords="160,80,200,150" shape="rect" (mouseenter)="ear($event)" (mouseleave)="ear($event)"(click)="clickhead2('ear')">
  <area target="" alt="eye" title="eye" coords="50,71,150,110" shape="rect" (mouseenter)="eye($event)" (mouseleave)="eye($event)"(click)="clickhead2('eye')">
  <area target="" alt="nose" title="nose" coords="85,90,120,145" shape="rect" (mouseenter)="nose($event)" (mouseleave)="nose($event)"(click)="clickhead2('nose')">
  <area target="" alt="mouth" title="mouth" coords="70,135,140,180" shape="rect" (mouseenter)="mouth($event)" (mouseleave)="mouth($event)"(click)="clickhead2('mouth')">

</map>

<map name="image-map" *ngIf="mainbody">
  <area target="" alt="head" title="head" coords="70,0,140,50" shape="rect" (mouseenter)="head($event)" (mouseleave)="head($event)"
    (click)="clickhead('head')">
  <area target="" alt="neck" title="neck" coords="70,51,140,85" shape="rect" (mouseenter)="neck($event)" (mouseleave)="neck($event)"
    (click)="clickneck('neck')">
  <area target="" alt="chest" title="chest" coords="50,86,155,150" shape="rect" (mouseenter)="chest($event)" (mouseleave)="chest($event)"
    (click)="clickchest('chest')">
  <area target="" alt="abdomen" title="abdomen" coords="50,151,155,210" shape="rect" (mouseenter)="abdomen($event)" (mouseleave)="abdomen($event)"
    (click)="clickabdomen('abdomen')">
  <area target="" alt="panis" title="panis" coords="50,211,155,260" shape="rect" (mouseenter)="panis($event)"
    (click)="clickpanis('panis')" (mouseleave)="panis($event)">
  <area target="" alt="legtopRight" title="legtopRight" coords="110,261,155,350" shape="rect" (mouseenter)="legtop($event)"
    (mouseleave)="legtop($event)" (click)="clicklegtop('legtop')">
  <area target="" alt="legtopLeft" title="legtopLeft" coords="50,261,100,350" shape="rect" (mouseenter)="legtop($event)"
    (mouseleave)="legtop($event)" (click)="clicklegtop('legtop')">
  <area target="" alt="kneeRight" title="kneeRight" coords="110,351,155,375" shape="rect" (mouseenter)="knee($event)" (mouseleave)="knee($event)"
    (click)="clickknee('knee')">
  <area target="" alt="kneeLeft" title="kneeLeft" coords="50,351,100,375" shape="rect" (mouseenter)="knee($event)" (mouseleave)="knee($event)"
    (click)="clickknee('knee')">
  <area target="" alt="shinLeft" title="shinLeft" coords="110,376,155,455" shape="rect" (mouseenter)="shin($event)"
    (mouseleave)="shin($event)" (click)="clickshin('shin')">
  <area target="" alt="shinRight" title="shinRight" coords="50,376,100,455" shape="rect" (mouseenter)="shin($event)" (mouseleave)="shin($event)"
    (click)="clickshin('shin')">
  <area target="" alt="footLeft" title="footLeft" coords="50,456,100,500" shape="rect" (mouseenter)="foot($event)" (mouseleave)="foot($event)"
    (click)="clickfoot('foot')">
  <area target="" alt="footRight" title="footRight" coords="110,456,155,500" shape="rect" (mouseenter)="foot($event)" (mouseleave)="foot($event)"
    (click)="clickfoot('foot')">
  <area target="" alt="upperarmLeft" title="upperarmLeft" coords="20,86,49,200" shape="rect" (mouseenter)="upperarm($event)"
    (click)="clickupperarm('upper arm')" (mouseleave)="upperarm($event)">
  <area target="" alt="upperarmRight" title="upperarmRight" coords="156,86,186,200" shape="rect" (mouseenter)="upperarm($event)"
    (click)="clickupperarm('upperarm')" (mouseleave)="upperarm($event)">
  <area target="" alt="armLeft" title="armLeft" coords="20,201,49,270" shape="rect" (mouseenter)="arm($event)"
    (click)="clickarm('arm')" (mouseleave)="arm($event)">
  <area target="" alt="armRight" title="armRight" coords="156,201,186,270" shape="rect" (mouseenter)="arm($event)"
    (click)="clickarm('arm')" (mouseleave)="arm($event)">
  <area target="" alt="handLeft" title="handLeft" coords="0,271,49,320" shape="rect" (mouseenter)="hand($event)"
    (click)="clickhand('hand')" (mouseleave)="hand($event)">
  <area target="" alt="handRight" title="handRight" coords="156,271,210,320" shape="rect" (mouseenter)="hand($event)"
    (click)="clickhand('hand')" (mouseleave)="hand($event)"> 
</map>