<div class="row">
  <span class="col-md-8">please select your point</span>
  <span class="col-md-4">your point</span>
</div>

<div class="row">
  <div class="col-md-8">
    <img src={{img}} usemap="#image-map">
  </div>
  <div class="col-md-4">
    <div class="row" *ngFor="let part of bodypart">
      <div class="col-md-4">
        <li>{{part}}</li>
      </div>
      <div class="col-md-8">
        <button type="button" class="btn btn-outline-info" (click)="delete(part)">x</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-danger" (click)="cancle()">cancle</button>   
      </div>
      <div class="col-md-8">
        <button type="button" class="btn btn-primary" (click)="ok()">ok</button>
      </div>
    </div>
  </div>
</div>

<map name="image-map">
  <area target="" alt="head" title="head" coords="227,105,123,-1" shape="rect" (mouseenter)="head($event)" (mouseleave)="head($event)"
    (click)="clickhead('head')">
  <area target="" alt="neck" title="neck" coords="229,139,122,105" shape="rect" (mouseenter)="neck($event)" (mouseleave)="neck($event)"
    (click)="clickneck('neck')">
  <area target="" alt="chest" title="chest" coords="260,253,94,139" shape="rect" (mouseenter)="chest($event)" (mouseleave)="chest($event)"
    (click)="clickchest('chest')">
  <area target="" alt="abdomen" title="abdomen" coords="254,359,99,253" shape="rect" (mouseenter)="abdomen($event)" (mouseleave)="abdomen($event)"
    (click)="clickabdomen('abdomen')">
  <area target="" alt="panis" title="panis" coords="103,360,102,372,100,387,175,448,250,384,249,373,246,359" shape="poly" (mouseenter)="panis($event)"
    (click)="clickpanis('panis')" (mouseleave)="panis($event)">
  <area target="" alt="legtopRight" title="legtopRight" coords="250,385,175,448,199,587,252,585,261,496" shape="poly" (mouseenter)="legtop($event)"
    (mouseleave)="legtop($event)" (click)="clicklegtop('legtop')">
  <area target="" alt="legtopLeft" title="legtopLeft" coords="100,387,175,448,151,592,98,588,90,501" shape="poly" (mouseenter)="legtop($event)"
    (mouseleave)="legtop($event)" (click)="clicklegtop('legtop')">
  <area target="" alt="kneeRight" title="kneeRight" coords="201,586,256,634" shape="rect" (mouseenter)="knee($event)" (mouseleave)="knee($event)"
    (click)="clickknee('knee')">
  <area target="" alt="kneeLeft" title="kneeLeft" coords="95,592,150,636" shape="rect" (mouseenter)="knee($event)" (mouseleave)="knee($event)"
    (click)="clickknee('knee')">
  <area target="" alt="shinLeft" title="shinLeft" coords="95,635,137,635,146,682,142,774,114,774,90,692" shape="poly" (mouseenter)="shin($event)"
    (mouseleave)="shin($event)" (click)="clickshin('shin')">
  <area target="" alt="shinRight" title="shinRight" coords="204,635,261,778" shape="rect" (mouseenter)="shin($event)" (mouseleave)="shin($event)"
    (click)="clickshin('shin')">
  <area target="" alt="footLeft" title="footLeft" coords="105,774,156,864" shape="rect" (mouseenter)="foot($event)" (mouseleave)="foot($event)"
    (click)="clickfoot('foot')">
  <area target="" alt="footRight" title="footRight" coords="195,779,245,864" shape="rect" (mouseenter)="foot($event)" (mouseleave)="foot($event)"
    (click)="clickfoot('foot')">
  <area target="" alt="upperarmLeft" title="upperarmLeft" coords="91,146,52,158,56,328,92,334,100,301" shape="poly" (mouseenter)="upperarm($event)"
    (click)="clickupperarm('upperarm')" (mouseleave)="upperarm($event)">
  <area target="" alt="upperarmRight" title="upperarmRight" coords="288,156,260,144,254,336,296,331,300,220" shape="poly" (mouseenter)="upperarm($event)"
    (click)="clickupperarm('upperarm')" (mouseleave)="upperarm($event)">
  <area target="" alt="armLeft" title="armLeft" coords="93,334,90,378,67,453,37,442,44,401,44,364,55,328" shape="poly" (mouseenter)="arm($event)"
    (click)="clickarm('arm')" (mouseleave)="arm($event)">
  <area target="" alt="armRight" title="armRight" coords="296,332,310,382,313,443,285,447,263,387,258,336" shape="poly" (mouseenter)="arm($event)"
    (click)="clickarm('arm')" (mouseleave)="arm($event)">
  <area target="" alt="handLeft" title="handLeft" coords="35,441,66,453,60,536,2,532,0,469" shape="poly" (mouseenter)="hand($event)"
    (click)="clickhand('hand')" (mouseleave)="hand($event)">
  <area target="" alt="handRight" title="handRight" coords="282,448,315,443,351,473,337,521,321,537,288,519" shape="poly" (mouseenter)="hand($event)"
    (click)="clickhand('hand')" (mouseleave)="hand($event)">
</map>