/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-image: url(" ./assets/picture/hospital2.jpg");
    background-repeat :repeat;
    background-size: 100%;
    
}