<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div id="formContent">
          <h1>Confirm if this is correct.</h1>
        </div>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col1">
              <table style="width:100%">
                <tr>
                  <th></th>
                  <th></th>
                </tr>

                <tr>
                  Identity card: 
                </tr>

                <tr>
                  Firstname:
                </tr>

                <tr>
                  Lastname: 
                </tr>

                <tr>
                  Gender: 
                </tr>
              </table>
            </div>
            <div class="col">
                <table style="width:100%">
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
          
                    <tr>
                        &nbsp;&nbsp;&nbsp;{{user.ID}}
                    </tr>
          
                    <tr>
                        &nbsp;&nbsp;&nbsp;{{user.name}}
                    </tr>
          
                    <tr>
                        &nbsp;&nbsp;&nbsp;{{user.lastname}}
                    </tr>
          
                    <tr>
                        &nbsp;&nbsp;&nbsp;{{user.gender}}
                    </tr>
                  </table>
            </div>
          </div>
        </div>
        <!--<table style="width:60%">
          <tr>
            <th></th>
            <th></th>
          </tr>

          <tr>
            ID : {{user.ID}}
          </tr>

          <tr>
            FirstName : {{user.name}}
          </tr>

          <tr>
            Lastname : {{user.lastname}}
          </tr>

          <tr>
            Gender : {{user.gender}}
          </tr>
        </table>-->

        <br>
        <div class="button">
          <!--<button mat-button class="button button1" (click)="UnCorrec()">Incorrect</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-button class="button button2" (click)="Correc()">Correct</button>-->
          <button type="button" class="btn btn-danger" (click)="UnCorrec()">Incorrect</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="Correc()">Correct</button>

        </div>

      </div>
    </div>
  </div>


  <!--
  <div class="loginBox">
    <div id="formContent">
      <h1>Confirm if this is correct.</h1>
      <hr>
      <br>
      <table style="width:60%">
        <tr>
          <th></th>
          <th></th>
        </tr>

        <tr>
          ID : {{user.ID}}
        </tr>

        <tr>
          FirstName : {{user.name}}
        </tr>

        <tr>
          Lastname : {{user.lastname}}
        </tr>

        <tr>
          Gender : {{user.gender}}
        </tr>

        <!--
        <tr>
          Address : {{user.address}}
        </tr>
  
        <tr>
          History : {{user.history}}
        </tr>--

      </table>

    </div>

  </div>


  <div class="button">
    <button mat-button class="button button1" (click)="UnCorrec()">Incorrect</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button class="button button2" (click)="Correc()">Correct</button>
  </div>

-->